.addInput{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
}
.addInput>.buttonInput {
    border-radius: 0 .28571429rem .28571429rem 0 !important;
}
.addInput>.sectionInput {
    border-radius: .28571429rem 0 0 .28571429rem  !important;
}