@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://unpkg.com/purecss@1.0.0/build/pure-min.css');
.main-header{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px;
  width:100%;
}
.main-nav{
  display:flex;
  justify-content:space-between;
  width:90%;
}
